.card {
 display: flex;
 flex-direction: column;
 padding: 1.5rem;
 max-width: 400px;
 border: 1px solid #e0e0e2;
  border-radius: 12px;
  background: #fff;
}

.header {
  display: inline-flex;
   justify-content: space-between;
  align-items: center;  
  gap: .75rem;
}
.stats {
  display: flex;
  justify-content: space-evenly; 

  gap: 0.75rem;
  max-width: 400px;
}

.stat {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #c7d2fe;
}

h2{
   margin: 20px 0px -15px 0;
}
h3{
   margin: 20px -20px -20px -20px;
}


.role {
  color: #666;
  font-size: 0.9rem;
}

.follow{
   margin-left: auto;
   padding: 1rem 1.5rem;
   border: none;
   border-radius:50px;
   background: #1b1b2b;
   color: #fff;
}